.git
.github
.idea
.vscode
.venv
.venv_old

.env
.env.*
!.env.example
!.env.test.example
!.env.production.example

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

tests
var
.pytest_attachment_storage
.pytest_export_storage
celerybeat-schedule*

build
dist
*.egg-info

.coverage
htmlcov
*.log
